build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/sdrTrunkTranscriber
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-136524b4cd84822b48e5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-db6df867cb2e8a1c05e8.json
build/.cmake/api/v1/reply/codemodel-v2-8bbb77b37bc547085bb9.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-10-08T22-02-33-0998.json
build/.cmake/api/v1/reply/target-sdrTrunkTranscriber-Debug-1bd8a502e7e7a7044663.json
build/.cmake/api/v1/reply/toolchains-v1-3efdd047ba1d147ff9a6.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.6/CMakeCCompiler.cmake
build/CMakeFiles/3.27.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.6/CMakeSystem.cmake
build/CMakeFiles/3.27.6/CompilerIdC/a.out
build/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.6/CompilerIdCXX/a.out
build/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/sdrTrunkTranscriber.dir/build.make
build/CMakeFiles/sdrTrunkTranscriber.dir/cmake_clean.cmake
build/CMakeFiles/sdrTrunkTranscriber.dir/compiler_depend.internal
build/CMakeFiles/sdrTrunkTranscriber.dir/compiler_depend.make
build/CMakeFiles/sdrTrunkTranscriber.dir/compiler_depend.ts
build/CMakeFiles/sdrTrunkTranscriber.dir/curlHelper.cpp.o
build/CMakeFiles/sdrTrunkTranscriber.dir/curlHelper.cpp.o.d
build/CMakeFiles/sdrTrunkTranscriber.dir/depend.make
build/CMakeFiles/sdrTrunkTranscriber.dir/DependInfo.cmake
build/CMakeFiles/sdrTrunkTranscriber.dir/flags.make
build/CMakeFiles/sdrTrunkTranscriber.dir/link.txt
build/CMakeFiles/sdrTrunkTranscriber.dir/main.cpp.o
build/CMakeFiles/sdrTrunkTranscriber.dir/main.cpp.o.d
build/CMakeFiles/sdrTrunkTranscriber.dir/progress.make
.vscode/
.vscode/settings.json
